@model WebApplicationOdontoPrev.ViewModels.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
}
<div class="container">
        <h2>Editar Perfil</h2>

        <form asp-action="SalvarPerfil" asp-controller="Perfil" method="post" class="mt-4">
            <div class="mb-3">
                <label asp-for="NmPaciente" class="form-label">Nome Completo</label>
                <input asp-for="NmPaciente" class="form-control" />
            </div>

            <div class="mb-3">
            <label asp-for="DtNascimento" class="form-label">Data de Nascimento</label>
            <input asp-for="DtNascimento" class="form-control" />
            </div>

            <div class="mb-3">
            <label asp-for="DsSexo" class="form-label">Sexo (F/M/I): </label>
            <input asp-for="DsSexo" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="NrTelefone" class="form-label">Telefone</label>
                <input asp-for="NrTelefone" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="DsEmail" class="form-label">Email</label>
                <input asp-for="DsEmail" type="email" class="form-control" />
            </div>

        <div class="mb-3">
            <label asp-for="NmPlano" class="form-label">Nome Completo</label>
            <input asp-for="NmPlano" class="form-control" />
        </div>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>    

    <nav class="navegacao-user">
        <button>
            <a asp-action="PacienteHome" asp-controller="PacienteHome" asp-route-id="@Model.IdPaciente" class="btn btn-secondary">Pagina Inicial</a>
        </button>
        <button>
            <a asp-action="ExtratoPontos" asp-controller="ExtratoPontos" asp-route-id="@Model.IdPaciente" class="btn btn-secondary">Extrato de Pontos</a>
        </button>
        <button>
            <a asp-action="HistoricoCheckIns" asp-controller="HistoricoCheckIns" asp-route-id="@Model.IdPaciente" class="btn btn-secondary">Histórico de Check-Ins</a>
        </button>        
    </nav>
</div>
